body{
    padding: 29px 29px;
    margin: 29px 29px;
    background: url("file:///D:/wallpaper/tree-736885_960_720.webp");
    font-family:cursive;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;

    
    

}